# Example environment variables for clubs-storage-microservice
# Copy to .env and adapt values for your environment

# Database connection: user:password@host:port/database?schema=public
DATABASE_URL="postgresql://raunogroch-pg:Passw0rd.3315@192.168.100.14:5432/storage-dev
# NATS servers (comma-separated)
NATS_SERVERS=nats://nats:4222

# Service port
PORT=4004

# Files storage path
STORAGE_PATH=./storage
